.vs/
**/x64/
**/*.user
**/.vscode/

**/bedrock_server_api.lib
**/bedrock_server_var.lib

/.idea/*
!/.idea/cmake.xml
/cmake-build-*
build/*
/out/*
GOHelper/MAP_Golang_Module.dll
GOHelper/MAP_Golang_Module.h
